.link--froglet {
  --link-text-color: #2e8b57;
  --link-text-decoration: underline;

  --link-text-color-hover: #245f45;
  --link-text-decoration-hover: none;

  --link-outline-width-focus: var(--focus-outline-width);
  --link-outline-color-focus: var(--focus-outline-color);
  --link-outline-offset-focus: var(--focus-outline-offset);
  --link-text-decoration-focus: underline;

  --link-text-color-visited: #7c3aed;
}
