.link--froglet {
  --link-text-color: var(--color-primary);
  --link-text-decoration: underline;

  --link-text-color-hover: var(--color-primary-hover);
  --link-text-decoration-hover: none;

  --link-outline-width-focus: var(--focus-outline-width);
  --link-outline-color-focus: var(--focus-outline-color);
  --link-outline-offset-focus: var(--focus-outline-offset);
  --link-text-decoration-focus: underline;

  --link-text-color-visited: var(--color-secondary);
}
