/*
--------------------------------------------------------------------------------
    Link CSS File
    This file serves as the Storybook link specific CSS.
--------------------------------------------------------------------------------
*/

/* Primary Link Demo */
.link--primary {
  /* Base Colors */
  --link-text-color: #2e8b57;
  --link-text-color-hover: #3ba66b;
  --link-text-color-visited: #276c46;

  /* Text Decoration */
  --link-text-decoration: underline;
  --link-text-decoration-hover: none;
  --link-text-decoration-focus: underline;

  /* Focus/Focus-visible Outline */
  --link-outline-color-focus: #80bdff;
  --link-outline-width-focus: 2px;
  --link-outline-offset-focus: 2px;
}

/* Secondary Link Demo */
.link--secondary {
  /* Base Colors */
  --link-text-color: #9b4dca;
  --link-text-color-hover: #b13fd6;
  --link-text-color-visited: #7a36a4;

  /* Text Decoration */
  --link-text-decoration: underline;
  --link-text-decoration-hover: none;
  --link-text-decoration-focus: underline;

  /* Focus/Focus-visible Outline */
  --link-outline-color-focus: #80bdff;
  --link-outline-width-focus: 2px;
  --link-outline-offset-focus: 2px;
}
