.radio--froglet {
  --radio-size: 1.125rem;
  --radio-border-width: var(--shape-border-width);
  --radio-border-style: solid;
  --radio-border-color: var(--color-primary);
  --radio-border-radius: 50%;
  --radio-background-color: var(--color-surface);

  --radio-border-color-hover: var(--color-primary-hover);
  --radio-background-color-hover: var(--color-primary-tint);

  --radio-outline-width-focus: var(--focus-outline-width);
  --radio-outline-color-focus: var(--focus-outline-color);
  --radio-outline-offset-focus: var(--focus-outline-offset);

  --radio-border-color-checked: var(--color-primary);
  --radio-background-color-checked: var(--color-primary);
  --radio-dot-color-checked: #ffffff;

  --radio-border-color-disabled: var(--color-primary-disabled-bg);
  --radio-background-color-disabled: var(--color-primary-tint);
  --radio-dot-color-disabled: var(--color-primary-disabled-text);
}
