.select--froglet {
  --select-border-width: var(--shape-border-width);
  --select-border-style: solid;
  --select-border-color: var(--color-border);
  --select-border-radius: var(--shape-border-radius);
  --select-padding: 0.625rem 1rem;
  --select-font-size: var(--font-size-base);
  --select-text-color: var(--color-text);
  --select-background-color: var(--color-surface);

  --select-border-color-hover: var(--color-border-hover);
  --select-background-color-hover: var(--color-surface-subtle);

  --select-border-color-focus: var(--color-primary);
  --select-outline-width-focus: var(--focus-outline-width);
  --select-outline-color-focus: var(--focus-outline-color);
  --select-outline-offset-focus: var(--focus-outline-offset);

  --select-border-color-disabled: var(--color-border-disabled);
  --select-text-color-disabled: var(--color-neutral-disabled-text);
  --select-background-color-disabled: var(--color-surface-subtle);
}
