.textarea--froglet {
  --textarea-border-width: var(--shape-border-width);
  --textarea-border-style: solid;
  --textarea-border-color: var(--color-border);
  --textarea-border-radius: var(--shape-border-radius);
  --textarea-padding: 0.625rem 1rem;
  --textarea-font-size: var(--font-size-base);
  --textarea-line-height: 1.5;
  --textarea-text-color: var(--color-text);
  --textarea-background-color: var(--color-surface);

  --textarea-border-color-hover: var(--color-border-hover);
  --textarea-background-color-hover: var(--color-surface-subtle);

  --textarea-border-color-focus: var(--color-primary);
  --textarea-outline-width-focus: var(--focus-outline-width);
  --textarea-outline-color-focus: var(--focus-outline-color);
  --textarea-outline-offset-focus: var(--focus-outline-offset);

  --textarea-border-color-disabled: var(--color-border-disabled);
  --textarea-text-color-disabled: var(--color-neutral-disabled-text);
  --textarea-background-color-disabled: var(--color-surface-subtle);
}
